.App-header {
  display: flex;
  height: 100px;
  background: #282c34;
  color: #fff;
  align-items: center;

  .App-logo-container {
    display: flex;
    align-items: center;
    margin-left: -16px;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
      pointer-events: none;
    }

    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}

.App-main {
  padding-top: 15px;

  .SearchField {
    margin: 0 8px 15px 8px;

    input,
    button {
      padding: 6px 14px;
      background: transparent;
      outline: 0;
    }

    input {
      border: 1px solid #ccc;
      border-right: 0;

      &:focus {
        border: 1px solid rgb(121, 121, 121);
        border-right: 0;
      }
    }

    button {
      border: 1px solid rgb(121, 121, 121);

      &:hover {
        background: rgb(236, 236, 236);
      }
    }
  }

  .grid-item {
    width: calc(25%);
    padding-bottom: 15px;

    @media (max-width: 767.98px) {
      width: 50%;
    }

    @media (max-width: 575.98px) {
      width: 100%;
    }

    img {
      width: 100%;
      padding: 0 8px;
    }
  }
}