.App-header {
  display: flex;
  height: 100px;
  background: #282c34;
  color: #fff;
  align-items: center;

  .App-logo-container {
    display: flex;
    align-items: center;
    margin-left: -22px;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
      pointer-events: none;
    }

    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}

.App-main {
  padding-top: 15px;

  .SearchField {
    margin-bottom: 15px;

    input,
    button {
      padding: 6px 14px;
      background: transparent;
      border: 1px solid #ccc;
    }

    input {
      width: 85%;
    }

    button {
      margin-left: 15px;
      width: calc(15% - 30px)
    }
  }

  .grid-item {
    width: calc(25% - 15px);
    padding-bottom: 15px;

    img {
      width: 100%;
    }
  }
}